<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'post', posts: @posts, genre: @genre %>
    </div>
  	<div class='col-md-8 offset-md-1'>
  	  <div class="">
  	    <%= render 'index', posts: @posts %>
  	  </div>
    </div>
  </div>
</div>
