<div class='container mt-5'>
  <div class='row'>
  	<div class='mx-auto'>
      <h4>今の気分はどちらですか？</h4>
      <%= link_to "Shine", posts_path(genre: "shine") %>or<%= link_to "Dark", posts_path(genre: "dark") %>
    </div>
  </div>
</div>
