<h5>
  POSTは幸せをお裾分けする場所です。<br>
  自分が感じた喜びや感動をPOSTに投函してあなたの大切な人に届けませんか？<br>
  悲しい出来事があったら、思い切ってPOSTに投函して<br>
  あなたの大切な人に励ましてもらいませんか？<br>
  POSTを通して幸せの連鎖を起こしましょう。
</h5>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path %>