<div class="container">
  <div class="row">
    <div class="col">
      <h5>投稿履歴一覧</h5>
      <table>
        <thead>
          <tr>
            <th>投稿日時</th>
            <th>投稿者</th>
            <th>ユーザーID</th>
          </tr>
        </thead>

        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td><br></td>
            <td></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>